



<div class="card-8">
    <div class="container">
        <div class="row mt-5">
            <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-12 col-sm-12 mt-4 mt-5">
                <div class=" mb-3 bg-white shadow-sm rounded">
                    <div class="row g-0">
                        <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-5 col-sm-12 border-start card-7 border rounded">
                            <div class="d-flex flex-row m-3">
                                <p class="message-text fw-medium">Messaging</p>
                                <i class="fa fa-ellipsis-h ms-auto mx-1 text-secondary my-2" aria-hidden="true"></i>
                                <i class="fa fa-edit mt-2 mx-2 fs-6 text-secondary" aria-hidden="true"></i>

                            </div>
                            <!-- search bar -->
                            <div class="field-group p-0 mx-2">
                                <div class="mx-1">
                                  <input class="form-control input-field mt-3 p-2 bg-light" type="search" placeholder="Search message" aria-label="Search">
                                </div>          
                  <div class="icon">
                  <i class="fa fa-search mx-3 mt-1 " aria-hidden="true"></i>           
                    </div>
                    </div>
                    <hr class="mx-3">

                    <div class="d-flex m-3">
                        <img src="../../assets/user-2.png" alt="" class="image-mic-2">
                        <p class="text-primary text-2 mx-2">John
                            <br>
                            <span class="text-1 text-dark">Your monthly source of "byte-sized" updates on Microsoft innovations.</span>
                        </p>
                    </div>

                      <!-- <hr> -->
                                 
                                
                                
                            </div>
                            
                          <!-- </div> -->
                       
                     
                      <div class=" col-xxl-8 col-xl-8 col-lg-7 col-md-7 col-sm-12 border-start p-0 linkedin-card-2 mt-2 border rounded">
          
                        <div class="m-3 d-flex mb-0 border-bottom p-0">
                            <p class="text-3 fw-semibold p-0">John
                                <br>
                                <span class="fw-normal p-0 text-7 fw-medium">Available on mobile</span>
                            </p>
    
                            <i class="fa fa-ellipsis-h ms-auto mx-2 text-secondary mt-1 icons" aria-hidden="true"></i>
                            <i class="fa fa-video-camera mx-1 text-secondary mt-1 icons" aria-hidden="true"></i>
                            <i class="fa fa-star mx-1 text-secondary mt-1 icons" aria-hidden="true"></i>
                        </div>

                        <div class="d-flex m-3 mt-5">
                            <hr class="text-4">
                            <span class="text-5 fw-bolder mt-1 mx-3">Today</span>
                            <hr class="text-4">
                        </div>
                        <div class="d-flex m-3">
                            <img src="../../assets/user-2.png" alt="" class="image-mic-3">
                            <p class="text-primary text-2 mx-2">John
                                <br>
                                <span class="text-1 fw-normal text-dark">Your monthly source of "byte-sized" updates<br> on Microsoft innovations.</span>
                            </p>
                        </div>
                        <hr class="text-6 mx-3 mb-0">
                        <textarea id="w3review" name="w3review" rows="4" cols="65" class="textarea-message rounded-o mx-3 text-secondary border-0 px-3 mt-3 py-3" >Write a message ....</textarea>
                        <hr class=" mx-3">
<div class="d-flex">
    <div class="p-2 m-2 mb-4">
        <img src="../../assets/photo.png" alt="" class="icons-1 mx-1">
        <img src="../../assets/link (2).png" alt="" class="icons-1 mx-1">
        <img src="../../assets/gif.png" alt="" class="icons-1 mx-1">
        <img src="../../assets/smile.png" alt="" class="icons-1 mx-1">

    </div>
    <div>
        <button class="btn bg-light fw-medium fs-6 button-send">Send</button>
        <i class="fa fa-ellipsis-h mx-2 mt-4 fs-5" aria-hidden="true"></i>
    </div>
</div>
                        </div>
                      </div>
    
                    </div>
    
                  </div>
    
                  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-10 col-sm-10">
       
                    <img src="../../assets/hiring lindein.png" alt="" class="image-2">
    
          
                  </div>
    
            </div>
        </div>
      
    







      <!-- footer -->



      <div class="container">
        <div class="row">
            <div class="col-xxl-11 col-xl-11 col-lg-11 col-md-11 col-sm-11 bg-white shadow-sm mx-3 fotter-section">
                <div class="bg-white pt-5 " >
                    <h1 class="text-primary fw-bolder text-center pt-3 text-newletter">Subscribe to our Newsletter</h1>
                    <div class="d-flex flex-row button-search m-5">
                        <input type="search" name="" id="" placeholder="Enter your Email" class="border-primary p-3 city-7">
                        <button class="btn btn-primary p-3 rounded-0">Subscribe</button>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <div class="container-fluid bg-primary main-section h-50 p-5 ">
        <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 p-5 mt-5 veet-text-1">
                <h1 class="veet-text text-white fw-semibold">Vettspace</h1>
                <p class="veet-text-2 text-white mt-4">We are a professional platform designed to help job seekers<br> achieve success in finding the ideal career and assist employers hire the right candidate for a job.</p>
                <div class=" ">
                    <img src="../../assets/youtube (1).svg" alt="" class="image-svg mx-3">
                    <img src="../../assets/facebook (1).svg" alt="" class="image-svg mx-2">
                    <img src="../../assets/instagram (1).svg" alt="" class="image-svg mx-2">
                    <img src="../../assets/twitter (1).svg" alt="" class="image-svg mx-2">
                   
                   
                </div>
            </div>
            <!-- second part -->
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div>
                    <h3 class="veet-text-1 text-white fw-medium mx-4 ">Category</h3>
                </div>
                <hr class="text-white mx-4">
                <div class="">
                    <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-3" aria-hidden="true"></i>Development</a><br>
                    <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Bussiness</a><br>
                    <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Tech & It</a><br>
                    <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2  mt-4" aria-hidden="true"></i>Finance</a><br>
                    <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Networking</a>
                </div>
            </div>
                        <!-- second part -->
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div>
                                <h3 class="veet-text-3 text-white fw-medium mx-4 ">Quick links</h3>
                            </div>
                            <hr class="text-white mx-4">
                            <div class="">
                                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-3" aria-hidden="true"></i>Home</a><br>
                                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>About us</a><br>
                                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Blogs</a><br>
                                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2  mt-4" aria-hidden="true"></i>Companies</a><br>
                                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Testimonials</a>
                            </div>
                        </div>
                            
                                                     <!-- second part -->
                                                     <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                        <div>
                                                            <h3 class="veet-text-3 text-white fw-medium mx-4 ">Find Us</h3>
                                                        </div>
                                                        <hr class="text-white mx-4">
                                                        <div class="">
                                                            <a href="#" class="text-white fw-medium text-decoration-none p-3 icon-3"><i class="fa fa-map-marker text-white icon-2 mx-2 mt-3" aria-hidden="true"></i>28/A Street, New York City</a><br>
                                                            <a href="#" class="text-white fw-medium text-decoration-none p-3 icon-3"><i class="fa fa-phone text-white icon-2 mx-2 mt-4" aria-hidden="true"></i>+(1)818-231-2192</a><br>
                                                            <a href="#" class="text-white fw-medium text-decoration-none p-3 icon-3"><i class="fa fa-at text-white icon-2 mx-2 mt-4" aria-hidden="true"></i>supportvettspace</a><br>
                                                        </div>
                                                    </div>
                                                    <hr class="text-white w-75 ms-auto mx-auto">
                                                    <div>
                                                        <p class="mx-5 text-white footer-text">Copyright <i class="fa fa-at text-white" aria-hidden="true"></i>2022 Vettspace. Designed & Developed by Vettspace Team . &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms & Conditions
                                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  -Privacy Policy Team</p>
                                                    </div>

        </div>
    </div>

</div>