
<!-- <link href="https://fonts.googleapis.com/css2?family=Foldit:wght@100&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
<link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css "rel="stylesheet"> -->
<div class="main-back">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 mt-5 rounded bg-white shadow-sm p-0 left-side">
                <div class="image-user-2">
                    <img src="../../assets/user-1.png" alt="" class="image-user-1 mt-5">
                </div>
                <div>
                    <h5 class="text-center fw-medium mt-4">John Doe</h5>
                    <p class="fw-medium text-center city-2">Web developer at Microsoft</p>
                </div>
                <hr>
                <div class="d-flex mx-4">
                    <p class="text-secondary city-3 mb-0">Connections</p>
                    <i class="fa fa-user ms-auto mx-2" aria-hidden="true"></i>
                    
                </div>
                <p class="text-dark city-3 mb-0 mx-4">Connection with alumin</p>
                <hr>
                <div>
                    <p class="text-secondary city-4 mb-0 mx-4">Learn new skills through <br>exclusive courses</p>
                    <p class="mx-3 text-dark fw-medium city-5"><i class="fa fa-square mx-2 text-warning" aria-hidden="true"></i>Access exclusive tools <br> &nbsp;&insight</p>
                </div>
                <hr>
                <p class="mx-3 fw-medium myitrm"><i class="fa fa-bookmark text-dark mx-2" aria-hidden="true"></i>My items</p>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-12 bg-white shadow-sm p-0 left-side-2 rounded  three-button">
                    <div class="mx-3">
                        <a href="#" class="text-primary  city-6 text-decoration-none fw-medium ">Gruops</a>
                        <div class="p-0 d-flex mt-2 mb-2" >
                            
                            <a href="#" class="text-primary  city-6 text-decoration-none fw-medium">Events</a>
                            <i class="fa fa-plus plus-icon ms-auto mt-1 text-primary" aria-hidden="true"></i>
                        </div>
                        <a href="#" class="text-primary  city-6 text-decoration-none fw-medium">Hashtag</a>
                    </div>
                    <hr>
                    <button class="btn text-primary fw-medium mx-5">Discover more</button>
                        </div>
            </div>
            <!-- main card -->
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-7 col-sm-9 middle-section">
  <div class="card mt-5 rounded bg-white shadow-sm">
    <div class="d-flex">
        <img src="../../assets/user-1.png" alt="" class="image-2 mx-2 mt-3" >
        <input class="form-control fw-medium mx-2 p-3 rounded-pill mt-3" type="search" placeholder="Write a post" aria-label="Search">
    </div>
    <!-- buttons -->
    <div class="mt-3 d-flex justify-content-space-between left-side-3">
        <button class="mx-4 btn media-text fw-normal"><i class="fa fa-image text-primary mx-1 small media-icons" aria-hidden="true"></i>Media</button>
        <button class="mx-5 btn media-text fw-nomal"><i class="fa fa-calendar mx-1 text-primary media-icons" aria-hidden="true"></i>Events</button>
        <button class="ms-auto mx-3 btn media-text fw-normal"><i class="fa fa-id-card mx-1 text-danger media-icons" aria-hidden="true"></i> artical</button>
      </div>
  </div>
  <div class=" col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2">
    <div class="card">
        <div class="card-body">

    <div class="d-flex">
        <img src="../../assets/microsoft (1).png" alt="" class="image-microsoft">
        <p class="fw-medium mx-2 mt-1 text-secondary">Microsoft
            <br>
            <span class="text-dark fw-normal fs-6 small">
                company-internet<br>
                1 hr
            </span>
        </p>
            <div class="ms-auto">
                <i class="fa fa-ellipsis-h mx-2 text-secondary fw-bold fs-4" aria-hidden="true"></i>
                <i class="fa fa-times  mx-2 text-secondary fw-bold fs-4" aria-hidden="true"></i>
            </div>
        

    </div>
    <p class="microsoft-text text-secondary fw-medium">We had a great super summit, 1084 attendees, 120 speakers on stage, and multiple
        <br>
         billionaires on stage and in the room.</p>

         <div>
            <img src="../../assets/post-image-2.png" alt="" class="image-6">
         </div>
         <hr>
         <div class="d-flex">
            <p class="fw-medium"><i class="fa fa-thumbs-up text-primary mx-1 " aria-hidden="true"></i>7</p>
           <p class="ms-auto microsoft-text mt-1">87 comments . 61 reposts</p>
         </div>
         <hr>
         <div class="d-flex mt-3 justify-content-between">
            <button class="fw-medium fs-6 btn  buttons"><i class="fa fa-thumbs-up mx-1 fw-medium fs-6" aria-hidden="true"></i>Like</button>
            <button class="fw-medium fs-6 btn  buttons"><i class="fa fa-comment mx-1  fw-medium fs-6" aria-hidden="true"></i>Comment</button>
            <button class="fw-medium fs-6  btn  buttons"><i class="fa fa-share mx-1" aria-hidden="true"></i>Share</button>
            <button class="fw-medium fs-6 btn  buttons"><i class="fa fa-paper-plane fs-6" aria-hidden="true"></i>Send</button>
         </div>


        </div>
    </div>
</div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5 p-0 left-side-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="fw-medium">Add to your feed</p>
                            <p class="bg-dark text-white text-center ms-auto img">i</p>
                        </div>
                        <div class="d-flex">
                            <img src="../../assets/microsoft (1).png" alt="" class="image-mic-2">
                            <p class="fw-medium mx-2 mt-1  text-dark">Microsoft
                                <br>
                                <span class="text-dark fw-normal">company-internet</span>
                            </p>
                        </div>
                        <button class="btn btn-outline-dark rounded-pill fw-medium follow-button"><i class="fa fa-plus mx-1 small fw-normal" aria-hidden="true"></i>follow</button>
                        <!-- side img-2 -->
                        <div class="d-flex mt-3">
                            <img src="../../assets/myntra.jpg" alt="" class="image-mic-2">
                            <p class="fw-medium mx-2 mt-1  text-dark">Microsoft
                                <br>
                                <span class="text-dark fw-normal">company-internet</span>
                            </p>
                        </div>
                        <button class="btn btn-outline-dark rounded-pill fw-medium follow-button"><i class="fa fa-plus mx-1 small fw-normal" aria-hidden="true"></i>follow</button>
                                                <!-- side img-2 -->
                                                <div class="d-flex mt-3">
                                                    <img src="../../assets/linkedin.png" alt="" class="image-mic-2">
                                                    <p class="fw-medium mx-2 mt-1  text-dark">Microsoft
                                                        <br>
                                                        <span class="text-dark fw-normal">company-internet</span>
                                                    </p>
                                                </div>
                                                <button class="btn btn-outline-dark rounded-pill fw-medium follow-button"><i class="fa fa-plus mx-1 small fw-normal" aria-hidden="true"></i>follow</button>
                    
                                           
                                            </div>
                                          <div class="d-flex flex-row mx-2">
                                            <button class=" view-text fw-medium text-secondary btn">View all recomendations<i class="fa fa-arrow-right text-secondary mx-3  fs-6 mt-1" aria-hidden="true"></i></button>
                                          </div>

                </div>
            
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 p-0 mt-3">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <p class="text-dark fw-medium view-text-1 mt-2">Add ...</p>
                            <p class="text-secondary fw-bold city-3 mx-3 mb-0">John Doe, growth start here</p>
                            <img src="../../assets/key.jpeg" alt="" class="image-keys mx-3">
                            <p class="text-dark fw-medium key-text mx-3">Unlock your full potential<br> with vettspace</p>
                            <button class="btn btn-outline-primary rounded-pill fw-medium mx-3 mb-3">Start free trial</button>

                        </div>
                    </div>
                </div>
                        </div>


        </div>




        

    </div>
    <!-- <div class="bg-primary main-section"> -->
    <div class="container">
        <div class="row">
            <div class="col-xxl-11 col-xl-11 col-lg-11 col-md-11 col-sm-11 mt-5 bg-white shadow-sm mx-3 fotter-section">
<div class="searchitem">
    <div class="bg-white pt-5 " >
        <h1 class="text-primary fw-bolder text-center pt-3 text-newletter">Subscribe to our Newsletter</h1>
        <div class="d-flex flex-row button-search mt-5 mb-5">
            <input class="rounded-0 border-primary p-3 city-7" type="search" placeholder="search" aria-label="Search"/>
            <button class="btn btn-primary p-3 rounded-0">Subscribe</button>
        </div>
</div>
                </div>

                
            </div>
        </div>
    </div>
    <div class="container-fluid bg-primary main-section h-50 p-5 ">
        <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 p-5 mt-5 veet-text-1">

                <h1 class="veet-text text-white fw-semibold">Vettspace</h1>
                <p class="veet-text-2 text-white mt-4 fs-6">We are a professional platform designed to help job seekers<br> achieve success in finding the ideal career and assist employers hire the right candidate for a job.</p>
                <div class=" ">
                    <img src="../../assets/youtube (1).svg" alt="" class="image-svg mx-3">
                    <img src="../../assets/facebook (1).svg" alt="" class="image-svg mx-2">
                    <img src="../../assets/instagram (1).svg" alt="" class="image-svg mx-2">
                    <img src="../../assets/twitter (1).svg" alt="" class="image-svg mx-2">
                   
                   
                </div>
            </div>
            <!-- second part -->
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div>
                    <h3 class="veet-text-1 text-white fw-medium mx-4 ">Category</h3>
                </div>
                <hr class="text-white mx-4">
                <div class="">
                    <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-3" aria-hidden="true"></i>Development</a><br>
                    <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Bussiness</a><br>
                    <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Tech & It</a><br>
                    <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2  mt-4" aria-hidden="true"></i>Finance</a><br>
                    <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Networking</a>
                </div>
            </div>
                        <!-- second part -->
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div>
                                <h3 class="veet-text-3 text-white fw-medium mx-4 ">Quick links</h3>
                            </div>
                            <hr class="text-white mx-4">
                            <div class="">
                                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-3" aria-hidden="true"></i>Home</a><br>
                                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>About us</a><br>
                                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Blogs</a><br>
                                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2  mt-4" aria-hidden="true"></i>Companies</a><br>
                                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Testimonials</a>
                            </div>
                        </div>
                            
                                                     <!-- second part -->
                                                     <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                        <div>
                                                            <h3 class="veet-text-3 text-white fw-medium mx-4 ">Find Us</h3>
                                                        </div>
                                                        <hr class="text-white mx-4">
                                                        <div class="">
                                                            <a href="#" class="text-white fw-medium text-decoration-none p-3 icon-3"><i class="fa fa-map-marker text-white icon-2 mx-2 mt-3" aria-hidden="true"></i>28/A Street, New York City</a><br>
                                                            <a href="#" class="text-white fw-medium text-decoration-none p-3 icon-3"><i class="fa fa-phone text-white icon-2 mx-2 mt-4" aria-hidden="true"></i>+(1)818-231-2192</a><br>
                                                            <a href="#" class="text-white fw-medium text-decoration-none p-3 icon-3"><i class="fa fa-at text-white icon-2 mx-2 mt-4" aria-hidden="true"></i>supportvettspace</a><br>
                                                        </div>
                                                    </div>
                                                    <hr class="text-white w-75 ms-auto mx-auto">
                                                    <div>
                                                        <p class="mx-5 text-white footer-text">Copyright <i class="fa fa-at text-white" aria-hidden="true"></i>2022 Vettspace. Designed & Developed by Vettspace Team . &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms & Conditions
                                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  -Privacy Policy Team</p>
                                                    </div>

        </div>
    </div>
</div>
<!-- </div> -->




