


<div class="main-section">
<div class="container">
    <div class="row mt-5">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12 mt-5 left-side-1">
            <div class="card border-0 left-side  bg-white shadow-sm border rounded">
                <div class="mx-3">

    <li class=" nav-items d-flex mt-4">
        <i class="fa fa-bookmark mt-1 icons icons mx-1" aria-hidden="true"></i>
        <a class=" nav-link fw-semibold text-1" aria-current="page" href="#"> 
          My Jobs </a>  
          </li>
          <li class=" nav-items d-flex mt-4">
            <i class="fa fa-list mt-1 icons mx-1" aria-hidden="true"></i>
            <a class=" nav-link fw-semibold text-1" aria-current="page" href="#"> 
              Prefrences </a>  
              </li>
              <li class=" nav-items d-flex mt-4">
                <i class="fa fa-check mt-1 icons mx-1" aria-hidden="true"></i>
                <a class=" nav-link fw-semibold text-1" aria-current="page" href="#"> 
                  Demonstrate Skills </a>  
                  </li>
                  <li class=" nav-items d-flex mt-4">
                    <i class="fa fa-mobile-alt mt-1 icons mx-1" aria-hidden="true"></i>
                    <a class=" nav-link fw-semibold text-1" aria-current="page" href="#"> 
                     Interview Prep  </a>  
                      </li>
                      <li class=" nav-items d-flex mt-4">
                        <i class="fa fa-square fw-light mt-1 icons mx-1" aria-hidden="true"></i>
                        <a class=" nav-link fw-semibold text-1" aria-current="page" href="#"> 
                         Resume Builder  </a>  
                          </li>

                          <li class=" nav-items d-flex mt-4">
                            <i class="fa fa-mobile-alt mt-1 icons mx-1" aria-hidden="true"></i>
                            <a class=" nav-link fw-semibold text-1" aria-current="page" href="#"> 
                          Jobseeker guidance  </a>  
                              </li>

                              <li class=" nav-items d-flex mt-4">
                                <i class="fa fa-cog mt-1 icons mx-1" aria-hidden="true"></i>
                                <a class=" nav-link fw-semibold text-1" aria-current="page" href="#"> 
                              Application Settings  </a>  
                                  </li>
                                  <li class=" nav-items d-flex mt-4">
                                    <i class="fa fa-paper-plane mt-1 fw-lighter icons mx-1" aria-hidden="true"></i>
                                    <a class=" nav-link fw-semibold text-1" aria-current="page" href="#"> 
                                  Test Gorilla </a>  
                                      </li>
                                      <li class=" nav-items d-flex mt-4 mb-4">
                                        <i class="fa fa-building fw-lighter mt-1 icons mx-1" aria-hidden="true"></i>
                                        <a class=" nav-link fw-semibold text-1" aria-current="page" href="#"> 
                                      Company </a>  
                                          </li>

                </div>


        </div>
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3">
                <button class="btn btn-outline-dark rounded-pill buttons-1 p-1 fw-medium ">Post a job</button>
                
                    </div>
        </div>
<div class="col-xxl-6 col-xl-6 col-lg-5 col-md-8 col-sm-12 left-side-3">
    <div class="card border-0  bg-white shadow-sm border rounded mt-5">
<div class="m-2 border-bottom mb-0">
    <p class="text-2 mb-0">Recommended for you</p>
    <p class="text-2">Based on your profile and search history</p>
</div>

             <div class="d-flex m-3 mb-0">
                <img src="../../assets/java developer.jpeg" alt="" class="image-1">
                <p class=" mx-3 mt-0  text-dark text-3 mb-0">java developer
                    <br>
                    <span class="text-dark  text-3">Afiniti</span><br>
                    <span class="text-dark text-3">islamad Pakistan,(Remote)</span>
                </p>
                <i class="fa fa-bookmark ms-auto mt-2 fs-6 fw-lighter" aria-hidden="true"></i>
             </div>
             <span class="text-dark text-3 mx-3 mt-1 mb-3">promoted:
                1 week
                easy apply</span>
                <hr class="mx-3 mt-0">
                <!-- card-2 -->

                <div class="d-flex m-3 mt-0 mb-0">
                    <img src="../../assets/java developer.jpeg" alt="" class="image-1">
                    <p class=" mx-3 mt-0  text-dark text-3 mb-0">java developer
                        <br>
                        <span class="text-dark  text-3">Afiniti</span><br>
                        <span class="text-dark text-3">islamad Pakistan,(Remote)</span>
                    </p>

                    <i class="fa fa-bookmark ms-auto mt-2 fs-6 fw-lighter" aria-hidden="true"></i>
                 </div>
                 <div class="d-flex mx-3 mt-3 mb-0">
                    <img src="../../assets/user-1.png" alt="" class="image-2">
                    <p class="text-4 mx-3">
                        your profile matches this job</p>
                    </div>
                 <span class="text-dark text-3 mx-3 mb-3">promoted:
                    1 week
                    easy apply</span>
                    <hr class="mx-3 mt-0">
                    <!-- card-3 -->

                    <div class="d-flex  m-3 mt-0 mb-0">
                        <img src="../../assets/java developer.jpeg" alt="" class="image-1">
                        <p class=" mx-3 mt-0  text-dark text-3 mb-0">java developer
                            <br>
                            <span class="text-dark  text-3">Afiniti</span><br>
                            <span class="text-dark text-3">islamad Pakistan,(Remote)</span>
                        </p>
                        <i class="fa fa-bookmark ms-auto mt-2 fs-6 fw-lighter" aria-hidden="true"></i>
                     </div>
                     <div class="d-flex mx-3 mt-3 mb-0">
                        <img src="../../assets/user-1.png" alt="" class="image-2">
                        <p class="text-4 mx-3">
                            your profile matches this job</p>
                        </div>
                     <span class="text-dark text-3 mx-3 mb-3">promoted:
                        1 week
                        easy apply</span>
                        <hr class="mx-3 mt-0 mb-1">

                        <button class="btn btn-light mx-4 buttons fw-medium mb-3">Show All <i class="fa fa-arrow-right mx-1" aria-hidden="true"></i></button>
    </div>

    <!-- card-3 -->

    <div class="card border-0 mt-3  bg-white shadow-sm border rounded mt-2">
        <div class="m-2 border-bottom mb-0">
            <p class="text-2 mb-0">Still hiring</p>
            <p class="text-2">Jobs you may have missed</p>
        </div>
        
                     <div class="d-flex m-3 mb-0">
                        <img src="../../assets/java developer.jpeg" alt="" class="image-1">
                        <p class=" mx-3 mt-0  text-dark text-3 mb-0">java developer
                            <br>
                            <span class="text-dark  text-3">Afiniti</span><br>
                            <span class="text-dark text-3">islamad Pakistan,(Remote)</span>
                        </p>
                        <i class="fa fa-bookmark ms-auto mt-2 fs-6 fw-lighter" aria-hidden="true"></i>
                     </div>
                     <span class="text-dark text-3 mx-3 mt-1 mb-3">promoted:
                        1 week
                        easy apply</span>
                        <hr class="mx-3 mt-0">
                        <!-- card-2 -->
        
                        <div class="d-flex m-3 mt-0 mb-0">
                            <img src="../../assets/java developer.jpeg" alt="" class="image-1">
                            <p class=" mx-3 mt-0  text-dark text-3 mb-0">java developer
                                <br>
                                <span class="text-dark  text-3">Afiniti</span><br>
                                <span class="text-dark text-3">islamad Pakistan,(Remote)</span>
                            </p>
        
                            <i class="fa fa-bookmark ms-auto mt-2 fs-6 fw-lighter" aria-hidden="true"></i>
                         </div>
                         <div class="d-flex mx-3 mt-3 mb-0">
                            <img src="../../assets/user-1.png" alt="" class="image-2">
                            <p class="text-4 mx-3">
                                your profile matches this job</p>
                            </div>
                         <span class="text-dark text-3 mx-3 mb-3">promoted:
                            1 week
                            easy apply</span>
                            <hr class="mx-3 mt-0">
                            <!-- card-3 -->
        
                            <div class="d-flex  m-3 mt-0 mb-0">
                                <img src="../../assets/java developer.jpeg" alt="" class="image-1">
                                <p class=" mx-3 mt-0  text-dark text-3 mb-0">java developer
                                    <br>
                                    <span class="text-dark  text-3">Afiniti</span><br>
                                    <span class="text-dark text-3">islamad Pakistan,(Remote)</span>
                                </p>
                                <i class="fa fa-bookmark ms-auto mt-2 fs-6 fw-lighter" aria-hidden="true"></i>
                             </div>
                             <div class="d-flex mx-3 mt-3 mb-0">
                                <img src="../../assets/user-1.png" alt="" class="image-2">
                                <p class="text-4 mx-3">
                                    your profile matches this job</p>
                                </div>
                             <span class="text-dark text-3 mx-3 mb-3">promoted:
                                1 week
                                easy apply</span>
                                <hr class="mx-3 mt-0 mb-1">
        
                                <button class="btn btn-light mx-4 buttons fw-medium mb-3">Show All <i class="fa fa-arrow-right mx-1" aria-hidden="true"></i></button>
                            </div>

                       <!-- card-4 -->

                       
    <div class="card border-0 mt-3  bg-white shadow-sm border rounded  mt-2">
        <div class="m-2 border-bottom mb-0">
            <p class="text-2 mb-0">Green jobs</p>
            <p class="text-2">Jobs that require green skills</p>
        </div>
        
                     <div class="d-flex m-3 mb-0">
                        <img src="../../assets/java developer.jpeg" alt="" class="image-1">
                        <p class=" mx-3 mt-0  text-dark text-3 mb-0">java developer
                            <br>
                            <span class="text-dark  text-3">Afiniti</span><br>
                            <span class="text-dark text-3">islamad Pakistan,(Remote)</span>
                        </p>
                        <i class="fa fa-bookmark ms-auto mt-2 fs-6 fw-lighter" aria-hidden="true"></i>
                     </div>
                     <span class="text-dark text-3 mx-3 mt-1 mb-3">promoted:
                        1 week
                        easy apply</span>
                        <hr class="mx-3 mt-0">
                        <!-- card-2 -->
        
                        <div class="d-flex m-3 mt-0 mb-0">
                            <img src="../../assets/java developer.jpeg" alt="" class="image-1">
                            <p class=" mx-3 mt-0  text-dark text-3 mb-0">java developer
                                <br>
                                <span class="text-dark  text-3">Afiniti</span><br>
                                <span class="text-dark text-3">islamad Pakistan,(Remote)</span>
                            </p>
        
                            <i class="fa fa-bookmark ms-auto mt-2 fs-6 fw-lighter" aria-hidden="true"></i>
                         </div>
                         <div class="d-flex mx-3 mt-3 mb-0">
                            <img src="../../assets/user-1.png" alt="" class="image-2">
                            <p class="text-4 mx-3">
                                your profile matches this job</p>
                            </div>
                         <span class="text-dark text-3 mx-3 mb-3">promoted:
                            1 week
                            easy apply</span>
                            <hr class="mx-3 mt-0">
                            <!-- card-3 -->
        
                            <div class="d-flex  m-3 mt-0 mb-0">
                                <img src="../../assets/java developer.jpeg" alt="" class="image-1">
                                <p class=" mx-3 mt-0  text-dark text-3 mb-0">java developer
                                    <br>
                                    <span class="text-dark  text-3">Afiniti</span><br>
                                    <span class="text-dark text-3">islamad Pakistan,(Remote)</span>
                                </p>
                                <i class="fa fa-bookmark ms-auto mt-2 fs-6 fw-lighter" aria-hidden="true"></i>
                             </div>
                             <div class="d-flex mx-3 mt-3 mb-0">
                                <img src="../../assets/user-1.png" alt="" class="image-2">
                                <p class="text-4 mx-3">
                                    your profile matches this job</p>
                                </div>
                             <span class="text-dark text-3 mx-3 mb-3">promoted:
                                1 week
                                easy apply</span>
                                <hr class="mx-3 mt-0 mb-1">
        
                                <button class="btn btn-light mx-4 buttons fw-medium mb-3">Show All <i class="fa fa-arrow-right mx-1" aria-hidden="true"></i></button>
                            </div>


        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-8 col-sm-8 left-side-2">
            <div class="card bg-white shadow-sm mt-5 border-0 border rounded">
                <div class="mb-4">
                    <p class="text-5 fw-medium m-3 mb-0">Open to work</p>
                    <p class="text-6 fw-medium mx-3 mb-1">Recommended based on your activity</p>
                    <div class="d-flex bg-light mx-3">
                        <p class="text-6 fw-medium m-2">Show recruiters You're open to new job oppertunities</p>
                        <img src="../../assets/opentowork.png" alt="" class="image-4 m-2">
                    </div>
                    <p class="text-6 fw-medium mx-3 mt-2 mb-1">Get more InMails from recruiters when you are #OpenToWork - you control who sees this</p>
                    <a href="#" class="text-decoration-none mx-3 small text-secondary">get started <i class="fa fa-arrow-right small text-secondary" aria-hidden="true"></i></a>
                </div>

            </div>
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card bg-white shadow-sm mt-3 border-0 border rounded">
                    <div class="mb-4">
                        <p class="text-5 fw-medium m-3 mb-0">Open to work</p>
                        <p class="text-6 fw-medium mx-3 mb-1">Recommended based on your activity</p>
                        <div class="d-flex bg-light mx-3">
                            <p class="text-6 fw-medium m-2">I want to remove my resume</p>
                            <img src="../../assets/job resume.gif" alt="" class="image-4">
                        </div>
                        <p class="text-6 fw-medium mx-3 mt-2 mb-1">Get more InMails from recruiters when you are #OpenToWork - you control who sees this</p>
                        <a href="#" class="text-decoration-none mx-3 small text-7">get started <i class="fa fa-arrow-right small" aria-hidden="true"></i></a>
                    </div>
    
                </div>
            </div>
        </div>


        
    </div>
    <!-- <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 left-side mt-3">
        <button class="btn btn-outline-dark rounded-pill w-100 p-1 fw-medium">Post a job</button>
    </div> -->
    <!-- <button class="btn btn-outline-dark rounded-pill  p-1 fw-medium">Post a job</button> -->
</div>




<!-- card-subscribe -->


<div class="container">
    <div class="row">
        <div class="col-xxl-11 col-xl-11 col-lg-11 col-md-11 col-sm-11 mt-5 bg-white shadow-sm mx-3 fotter-section">
<div class="searchitem">
<div class="bg-white pt-5 " >
    <h1 class="text-primary fw-bolder text-center pt-3 text-newletter">Subscribe to our Newsletter</h1>
    <div class="d-flex flex-row button-search mt-5 mb-5">
        <input class="rounded-0 border-primary p-3 city-7" type="search" placeholder="search" aria-label="Search"/>
        <button class="btn btn-primary p-3 rounded-0">Subscribe</button>
    </div>
</div>
            </div>

            
        </div>
    </div>
</div>
<div class="container-fluid bg-primary main-section h-50 p-5 ">
    <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 p-5 mt-5 veet-text-1">

            <h1 class="veet-text text-white fw-semibold">Vettspace</h1>
            <p class="veet-text-2 text-white mt-4 fs-6">We are a professional platform designed to help job seekers<br> achieve success in finding the ideal career and assist employers hire the right candidate for a job.</p>
            <div class=" ">
                <img src="../../assets/youtube (1).svg" alt="" class="image-svg mx-3">
                <img src="../../assets/facebook (1).svg" alt="" class="image-svg mx-2">
                <img src="../../assets/instagram (1).svg" alt="" class="image-svg mx-2">
                <img src="../../assets/twitter (1).svg" alt="" class="image-svg mx-2">
               
               
            </div>
        </div>
        <!-- second part -->
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div>
                <h3 class="veet-text-1 text-white fw-medium mx-4 ">Category</h3>
            </div>
            <hr class="text-white mx-4">
            <div class="">
                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-3" aria-hidden="true"></i>Development</a><br>
                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Bussiness</a><br>
                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Tech & It</a><br>
                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2  mt-4" aria-hidden="true"></i>Finance</a><br>
                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Networking</a>
            </div>
        </div>
                    <!-- second part -->
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div>
                            <h3 class="veet-text-3 text-white fw-medium mx-4 ">Quick links</h3>
                        </div>
                        <hr class="text-white mx-4">
                        <div class="">
                            <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-3" aria-hidden="true"></i>Home</a><br>
                            <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>About us</a><br>
                            <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Blogs</a><br>
                            <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2  mt-4" aria-hidden="true"></i>Companies</a><br>
                            <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Testimonials</a>
                        </div>
                    </div>
                        
                                                 <!-- second part -->
                                                 <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                    <div>
                                                        <h3 class="veet-text-3 text-white fw-medium mx-4 ">Find Us</h3>
                                                    </div>
                                                    <hr class="text-white mx-4">
                                                    <div class="">
                                                        <a href="#" class="text-white fw-medium text-decoration-none p-3 icon-3"><i class="fa fa-map-marker text-white icon-2 mx-2 mt-3" aria-hidden="true"></i>28/A Street, New York City</a><br>
                                                        <a href="#" class="text-white fw-medium text-decoration-none p-3 icon-3"><i class="fa fa-phone text-white icon-2 mx-2 mt-4" aria-hidden="true"></i>+(1)818-231-2192</a><br>
                                                        <a href="#" class="text-white fw-medium text-decoration-none p-3 icon-3"><i class="fa fa-at text-white icon-2 mx-2 mt-4" aria-hidden="true"></i>supportvettspace</a><br>
                                                    </div>
                                                </div>
                                                <hr class="text-white w-75 ms-auto mx-auto">
                                                <div>
                                                    <p class="mx-5 text-white footer-text">Copyright <i class="fa fa-at text-white" aria-hidden="true"></i>2022 Vettspace. Designed & Developed by Vettspace Team . &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms & Conditions
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  -Privacy Policy Team</p>
                                                </div>

    </div>

</div>