
<!-- <link href="https://fonts.googleapis.com/css2?family=Foldit:wght@100&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
<link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css "rel="stylesheet"> -->
<nav class="navbar  navbar-expand-sm navbar-light bg-white shadow-sm p-0 justify-content-between fixed-top">
      <a class="navbar-brand imgae" href="#">
          <img src="../assets/mdb-transaprent-noshadows.webp" alt="" width="50" height="20" class="">
          
        </a>
       <div class="d-flex flex-row">
        <input class="form-control mt-2 search-bar rounded-1 border-dark" type="search" placeholder="search" aria-label="Search"/>
       </div>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-3  mb-lg-0 city-2 ">
        <li class="nav-item d-flex mt-3 mb-3">
      <i class="fa fa-home icons text-secondary mt-2" aria-hidden="true" routerLink="linkedin-home-page"></i>
      <a class="nav-link  fw-medium city-1 text-secondary" routerLink="linkedin-home-page"> 
        home</a>  
        </li>
        <li class="nav-item d-flex mx-2 mt-3">
         <img src="../assets/R.gif" alt="" class="image-1 " routerLink="network">
          <a class="nav-link fw-medium city-1 text-secondary " routerLink="network">
            MyNetwork </a>  
            </li>
            <li class="nav-item d-flex mt-3 mx-2">
              <i class="fa fa-briefcase  icons text-secondary mt-2" aria-hidden="true" routerLink="jobs-page" ></i>
              <a class="nav-link fw-medium city-1 text-secondary mx-1" routerLink="jobs-page"> 
                jobs </a>  
                </li>
                <li class="nav-item d-flex mt-3 mx-2">
                  <i class="fa fa-commenting   icons text-secondary mt-2" aria-hidden="true" routerLink="message-page"></i>
                  <a class="nav-link  fw-medium city-1 text-secondary mx-1" routerLink="message-page"> 
                    Messaging</a>  
                    </li>
                    <li class="nav-item d-flex mt-3 mx-2">
                      <i class="fa fa-bell    icons text-secondary mt-2" aria-hidden="true" routerLink="notification-page"></i>
                      <a class="nav-link  fw-medium city-1 text-secondary mx-1" routerLink="notification-page"> 
                        Notifications</a>  
                        </li>

      </ul>
      <img src="../assets/user-1.png" alt="" class=" iamges-user-1 ms-auto mx-4">
      
          </div>
        
      
 
</nav> 

<router-outlet></router-outlet>