

<div class="main-section">
<div class="container">
    <div class="row">
        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-12 mt-5 mb-0">
            <div class="card bg-white shadow-sm rounded mt-5">
                <p class="m-2 mx-3 fw-medium mb-1 text-setting-1">Manage your
                    notification</p>
                    <a href="" class="fw-medium text-decoration-none mx-3 mb-3 text-setting-1">Veiw Setting</a>
            </div>
        </div>
        <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-9 col-sm-12 mb-0 left-side-3">
            <div class="card bg-white shadow-sm rounded mt-3">
                <div class=" m-3">
                    <button class="btn btn-success rounded-pill mx-1 fw-medium">All</button>
                    <button class="btn btn-outline-dark rounded-pill mx-1 fw-medium">My Posts</button>
                    <button class="btn btn-outline-dark rounded-pill mx-1 fw-medium">Mentions</button>

                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 left-side-5">
                <div class="card bg-white shadow-sm rounded">
                    <div class="d-flex mx-3 mb-0">
                        <img src="../../assets/microsoft (1).png" alt="" class="image-mic-2">
                        <p class="fw-medium mx-2 fs-5 text-dark mb-0">Microsoft
                            <span class="text-2 fw-medium">45 min</span>
                            <br>
                            <span class="text-dark fw-normal text-1 mt-0 d-flex">Your monthly source of "byte-sized" updates on Microsoft innovations.
                                <i class="fa fa-ellipsis-h fs-4 text-dark ms-auto mx-2" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <hr class="mx-3">
                    <!-- card-2 -->
                    <div class="d-flex mx-3 mb-3">
                        <img src="../../assets/microsoft (1).png" alt="" class="image-mic-2">
                        <p class="fw-medium mx-2 fs-5 text-dark mb-0">Microsoft
                            <span class="text-2 fw-medium">45 min</span>
                            <br>
                            <span class="text-dark fw-normal text-1 mt-0 d-flex">Your monthly source of "byte-sized" updates on Microsoft innovations.
                                <i class="fa fa-ellipsis-h fs-4 text-dark ms-auto mx-2" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 left-side-4">
            <img src="../../assets/hiring lindein.png" alt="" class=" linkedin-1">
        </div>

    </div>
</div>

<!-- card-subscribe -->


<div class="container">
    <div class="row">
        <div class="col-xxl-11 col-xl-11 col-lg-11 col-md-11 col-sm-11 bg-white shadow-sm mx-3 fotter-section">
<div class="searchitem">
<div class="bg-white pt-5 " >
    <h1 class="text-primary fw-bolder text-center pt-3 text-newletter">Subscribe to our Newsletter</h1>
    <div class="d-flex flex-row button-search mt-5 mb-5">
        <input class="rounded-0 border-primary p-3 city-7" type="search" placeholder="search" aria-label="Search"/>
        <button class="btn btn-primary p-3 rounded-0">Subscribe</button>
    </div>
</div>
            </div>

            
        </div>
    </div>
</div>
<div class="container-fluid bg-primary main-section h-50 p-5 ">
    <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 p-5 mt-5 veet-text-1">

            <h1 class="veet-text text-white fw-semibold">Vettspace</h1>
            <p class="veet-text-2 text-white mt-4 fs-6">We are a professional platform designed to help job seekers<br> achieve success in finding the ideal career and assist employers hire the right candidate for a job.</p>
            <div class=" ">
                <img src="../../assets/youtube (1).svg" alt="" class="image-svg mx-3">
                <img src="../../assets/facebook (1).svg" alt="" class="image-svg mx-2">
                <img src="../../assets/instagram (1).svg" alt="" class="image-svg mx-2">
                <img src="../../assets/twitter (1).svg" alt="" class="image-svg mx-2">
               
               
            </div>
        </div>
        <!-- second part -->
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div>
                <h3 class="veet-text-1 text-white fw-medium mx-4 ">Category</h3>
            </div>
            <hr class="text-white mx-4">
            <div class="">
                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-3" aria-hidden="true"></i>Development</a><br>
                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Bussiness</a><br>
                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Tech & It</a><br>
                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2  mt-4" aria-hidden="true"></i>Finance</a><br>
                <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Networking</a>
            </div>
        </div>
                    <!-- second part -->
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div>
                            <h3 class="veet-text-3 text-white fw-medium mx-4 ">Quick links</h3>
                        </div>
                        <hr class="text-white mx-4">
                        <div class="">
                            <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-3" aria-hidden="true"></i>Home</a><br>
                            <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>About us</a><br>
                            <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Blogs</a><br>
                            <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2  mt-4" aria-hidden="true"></i>Companies</a><br>
                            <a href="#" class="text-white fw-medium text-decoration-none p-3"><i class="fa fa-angle-right text-white icon-1 mx-2 mt-4" aria-hidden="true"></i>Testimonials</a>
                        </div>
                    </div>
                        
                                                 <!-- second part -->
                                                 <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                    <div>
                                                        <h3 class="veet-text-3 text-white fw-medium mx-4 ">Find Us</h3>
                                                    </div>
                                                    <hr class="text-white mx-4">
                                                    <div class="">
                                                        <a href="#" class="text-white fw-medium text-decoration-none p-3 icon-3"><i class="fa fa-map-marker text-white icon-2 mx-2 mt-3" aria-hidden="true"></i>28/A Street, New York City</a><br>
                                                        <a href="#" class="text-white fw-medium text-decoration-none p-3 icon-3"><i class="fa fa-phone text-white icon-2 mx-2 mt-4" aria-hidden="true"></i>+(1)818-231-2192</a><br>
                                                        <a href="#" class="text-white fw-medium text-decoration-none p-3 icon-3"><i class="fa fa-at text-white icon-2 mx-2 mt-4" aria-hidden="true"></i>supportvettspace</a><br>
                                                    </div>
                                                </div>
                                                <hr class="text-white w-75 ms-auto mx-auto">
                                                <div>
                                                    <p class="mx-5 text-white footer-text">Copyright <i class="fa fa-at text-white" aria-hidden="true"></i>2022 Vettspace. Designed & Developed by Vettspace Team . &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms & Conditions
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  -Privacy Policy Team</p>
                                                </div>

    </div>
</div>

